[data-theme-version="dark"] {
    .sidebar-right {
        .nav-tabs{
			border-color:$primary;
			.nav-item{
				.nav-link{
					color:$black;
				}
			} 
		}
		.form-control{
			background:$white;
			color:$black;
			border-color:$border-color;
		}
		.default-select .list{
			background:$white;
			.option{
				&.selected,&.focus,&:hover{
					background:rgba($black,0.05);
				}
			}
		}
		.sidebar-right-inner>h4{
			color:$black!important;
		}
    }
}